## Importar librerias

In [1]:
import pandas as pd
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
#Leer datos
datos = pd.read_csv('Discriminacionsalarial.csv')

In [3]:
#Mostrar las primeras filas
datos.head()

,Empleado,Genero,Experiencia previa,Experiencia en la empresa,Nivel educativo,Salario anual
0,1,1,5,12,3,57700
1,2,0,12,8,4,76400
2,3,0,0,2,3,44000
3,4,1,2,1,3,41600
4,5,0,5,25,5,163900

In [6]:
# Ver el tama√±o de los datos
datos.shape

(204, 6)

In [7]:
#Variable Y salario anual
y = datos['Salario anual']

In [8]:
#Ver el tipo de objeto que es Y
type(y)

pandas.core.series.Series

In [10]:
# Fijar el salario anual como "Y" y como un array 
y = datos['Salario anual'].values
type(y)
print(y)

[ 57700  76400  44000  41600 163900  72700  60300  63500 131200  39200
  62900  26200  74500  64800  21600  81900 115400  57800  55800  76100
 135700 140400  55400  49700 134800  76900  28700  58800  43100  82400
  80100  27000  58800 133100  53700  26700  81300  55400 139900  33200
  75000 128200  76800  54200  32600  59200  74800  45500  46500 136300
  86900  23900  52700  92700  59500  69400  46600  61700  88200  45000
  52200  61400  87500 103700  54000 125100  45900  79300 108600  68200
  65200  95600 103100 143500  78200  40200  60500  40500  73800  45300
  61400  64800  75600  95800 126700  67000 102600  52000  76000  83000
  80800  91100  30100  55700  51400  43800  25000  80600  39600  13400
  88200 109100  34200  57800  68100  94900  63200  82700  85600  27100
  69800  81300  78400 127300  93700  74400  48300  98900  73300 117300
  37800  77400 111200  75300  96900 123600  55200  12400  73900  94100
  74300  66900  12500  90200  59000 114700  71700 125500 100200  45400
  72200  69500  67900  67500  31800  27800  60200  34500  87000  12500
 122700  56200  56900  66000  76000  44100  78500  71800  80700  47800
 105000 100700  18300 110600  36800  45500  71400  74300 160600  52500
  65000 104500  85000 110200  80100  40000  55900  64600  68600  65100
 111700  62000  55800  54600  37600  41200  49900  59400  65500  73200
  30500  84800  95200  84900 102600  59000  44800  70500  83700 100000
  39300  20400  74300 114500]

In [11]:
# Fijar el resto de variables como X y como un array  
X1 = datos['Genero'].values
X2 = datos['Experiencia previa'].values
X3 = datos['Experiencia en la empresa'].values
X4 = datos['Nivel educativo'].values

In [12]:
# Caracterizar el conjunto de datos
datos.describe()

,Empleado,Genero,Experiencia previa,Experiencia en la empresa,Nivel educativo,Salario anual
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000
mean,102.500000,0.583333,6.269608,8.799020,3.147059,71274.509804
std,59.033889,0.494219,5.006484,6.208511,0.835152,30252.537039
min,1.000000,0.000000,0.000000,1.000000,1.000000,12400.000000
25%,51.750000,0.000000,2.000000,4.000000,3.000000,51850.000000
50%,102.500000,1.000000,5.000000,7.000000,3.000000,68400.000000
75%,153.250000,1.000000,10.000000,13.250000,4.000000,86925.000000
max,204.000000,1.000000,20.000000,25.000000,5.000000,163900.000000

## Modelo 1: Salario anual vs. g√©nero

In [13]:
# Asignar variable de entrada X para entrenamiento y las etiquetas Y
X = X1.reshape(-1,1)
y = y.reshape(-1,1)

# Creamos el objeto de regresi√≥n lineal 
Modelo1 = LinearRegression()

# Entrenamos el modelo
Modelo1.fit(X,y)

# Hacemos las predicciones
SalarioPredictR1 = Modelo1.predict(X)

In [17]:
# Imprimimos coeficiente (pendiente)
print(f'Coeficiente b0: {Modelo1.coef_[0]}')
# Imprimimos intercepto
print(f'Intercepto b0: {Modelo1.intercept_[0]}')
# Imprimimos error cuadr√°tico medio 
print(f'ECM: {mean_squared_error(y, SalarioPredictR1)}')
# Imprimimos el estad√≠stico R^2
print(f'R2: {r2_score(y, SalarioPredictR1)}')

Coeficiente b0: [-12874.62184874]
Intercepto b0: 78784.70588235294
ECM: 870441754.9843466
R2: 0.04423693643043958

## Modelo 2: Salario vs. g√©nero, experiencia previa y experiencia actual

In [18]:
# Asignar variable de entrada X para entrenamiento (ya se asign√≥ Y antes)
X1X2X3 = datos[['Genero','Experiencia previa','Experiencia en la empresa']]
X1X2X3

     Genero  Experiencia previa  Experiencia en la empresa
0         1                   5                         12
1         0                  12                          8
2         0                   0                          2
3         1                   2                          1
4         0                   5                         25
..      ...                 ...                        ...
199       1                  10                         18
200       1                   2                          4
201       1                   0                          7
202       0                   0                         12
203       0                  11                         19

[204 rows x 3 columns]

In [19]:
# Creamos el objeto de regresi√≥n lineal 
Modelo2 = LinearRegression()
# Entrenamos el modelo
Modelo2.fit(X1X2X3, y)
# Hacemos las predicciones
SalarioPredictR2 = Modelo2.predict(X1X2X3)

In [20]:
# Imprimimos coeficiente 
print(f'Coeficientes b: {Modelo2.coef_[0]}')
# Imprimimos intercepto
print(f'Intercepto b0: {Modelo2.intercept_[0]}')
# Imprimimos error cuadr√°tico medio 
print(f'ECM: {mean_squared_error(y, SalarioPredictR2)}')
# Imprimimos el estad√≠stico R^2
print(f'R2: {r2_score(y, SalarioPredictR2)}')

Coeficientes b: [-8975.28555537  3308.42059371  2708.24124602]
Intercepto b0: 31937.72551536293
ECM: 213330550.65163794
R2: 0.7657586398213888

## Modelo 3: Salario vs. g√©nero, , experiencia previa,  experiencia actual y nivel educativo

In [21]:
#Volvemos el nivel educativo una variable binaria
X4dummy = pd.get_dummies(X4, drop_first=True)
print(X4dummy)

     2  3  4  5
0    0  1  0  0
1    0  0  1  0
2    0  1  0  0
3    0  1  0  0
4    0  0  0  1
..  .. .. .. ..
199  0  1  0  0
200  0  1  0  0
201  1  0  0  0
202  0  0  1  0
203  0  1  0  0

[204 rows x 4 columns]

In [22]:
# Asignar variable de entrada X para entrenamiento, hay que concatenar las anteriores X y X4 (ya se asign√≥ Y antes)
X1X2X3X4 = pd.concat([X1X2X3, X4dummy], axis=1)
X1X2X3X4

     Genero  Experiencia previa  Experiencia en la empresa  2  3  4  5
0         1                   5                         12  0  1  0  0
1         0                  12                          8  0  0  1  0
2         0                   0                          2  0  1  0  0
3         1                   2                          1  0  1  0  0
4         0                   5                         25  0  0  0  1
..      ...                 ...                        ... .. .. .. ..
199       1                  10                         18  0  1  0  0
200       1                   2                          4  0  1  0  0
201       1                   0                          7  1  0  0  0
202       0                   0                         12  0  0  1  0
203       0                  11                         19  0  1  0  0

[204 rows x 7 columns]

In [26]:
# Creamos el objeto de regresi√≥n lineal 
Modelo3 = LinearRegression()
# Entrenamos el modelo
Modelo3.fit(X1X2X3X4, y)
# Hacemos las predicciones
SalarioPredictR3 = Modelo3.predict(X1X2X3X4)

In [27]:
# Imprimimos coeficiente 
print(f'Coeficientes b: {Modelo3.coef_[0]}')
# Imprimimos intercepto
print(f'Intercepto b0: {Modelo3.intercept_[0]}')
# Imprimimos error cuadr√°tico medio 
print(f'ECM: {mean_squared_error(y, SalarioPredictR3)}')
# Imprimimos el estad√≠stico R^2
print(f'R2: {r2_score(y, SalarioPredictR3)}')

Coeficientes b: [-8202.55713738  2926.53777344  2593.65751706 -5978.84281652
 14511.86854384 25984.40502824 64490.08190264]
Intercepto b0: 17924.338144105583
ECM: 31736966.016861457
R2: 0.9651521544147155